body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding:0;
    background-color: rgb(65, 63, 61);
    max-width:100%;
    font-size: 8px;;
}
section {
    background-color: white;
}
main {
    background-color: #ccc;
    width: 85vmax;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(65, 63, 61);
    max-width:100%;
}
main {
    background-color: #ccc;
    width: 100vmin;
    height: 100vmin;
    display: flex;
    justify-content: center;
}
#game-board {
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
}
#inventory,
#memory {
    width: 20vmin;
    height: 60vmin;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
#memory {
    height: 40vmin;
}
.item-container,
.memory-container {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    color: white;
    margin: 10px;
    cursor: pointer;
}
.item {
    height: 7vmin;
    width: 7vmin;
    padding: 2vmin;
}
.memory {
    height: 5vmin;
    width: 5vmin;
}
.memory-container[data-chosen='true'] {
    border: 2px solid blue;
}
div.item-container[data-chosen='true'] {
    background-color: blue;
    border: 2px solid white;
}
div[data-type='sky'] {
    background-color: var(--sky-color);
    width: 100%;
    height: 100%;
}
div[data-type='ground'] {
    background-image: url(/images/ground.png);
    background-size: cover;
}
div[data-type='grassGround'] {
    background-image: url(/images/grass-ground.png);
    background-size: cover;
}
div[data-type='oak'] {
    background-image: url(/images/oak.png);
    background-size: cover;
}
div[data-type='leaves'] {
    background-image: url(/images/leaves.png);
    background-size: cover;
}
div[data-type='cloud'] {
    background-color: white;
}
div[data-type='shovel'] {
    background-image: url(/images/shovel.png);
    background-size: cover;
}
div[data-type='axeStone'] {
    background-image: url(/images/axe-stone.png);
    background-size: cover;
}
div[data-type='axeTree'] {
    background-image: url(/images/axe.png);
    background-size: cover;
}
div[data-type='stone'] {
    background-image: url(/images/stone.png);
    background-size: cover;
}
div[data-status='removed'] {
    border: 2px solid white;
    cursor: pointer;
    width: 1vmin;
    height: 1vmin;
    margin: 1vmin;
    
}
.brick {
    cursor: pointer;
}